
.code {
	padding: 1em;
	margin: 1em;
	background-color: #AAFFFF;
	font-family: monospace;
}

.xml {
	padding: 1em;
	margin: 1em;
	background-color: #f9fadc;
	font-family: monospace;
}

.command {
	padding: 1em;
	margin: 1em;
	background-color: #ffe8fe;
	font-family: monospace;
}
