
body {
    font-family: Arial, Helvetica, sans-serif;
}

.code {
	padding: 1em;
	margin: 1em;
	background-color: #AAFFFF;
	font-family: monospace;
	width: fit-content;
	min-width: 800px;
}

.xml {
	padding: 1em;
	margin: 1em;
	background-color: #f9fadc;
	font-family: monospace;
	width: fit-content;
	min-width: 800px;
}

.command {
	padding: 1em;
	margin: 1em;
	background-color: #ffe8fe;
	font-family: monospace;
	width: fit-content;
	min-width: 800px;
}
